<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.weteach">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Weteach">
        <activity
            android:name=".UpdateQuizActivity"
            android:exported="true" />
        <activity
            android:name=".CreateQuizActivity"
            android:exported="true" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ChangeScheduleStudentActivity"
            android:exported="true" />
        <activity
            android:name=".ManageTeachProfileActivity"
            android:exported="true" />
        <activity
            android:name=".TeacherRegisterTeachingActivity"
            android:exported="true" />
        <activity
            android:name=".QuizReviewActivity"
            android:exported="true" />
        <activity
            android:name=".QuizAttemptActivity"
            android:exported="true" />
        <activity
            android:name=".HiredDetailActivity"
            android:exported="true" />
        <activity
            android:name=".TeacherDetailActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterStep2Activity"
            android:exported="true" />
        <activity
            android:name=".FilterHireActivity"
            android:exported="true" />
        <activity
            android:name=".FilterActivity"
            android:exported="true" />
        <activity
            android:name=".TeacherProfileActivity"
            android:exported="true" />
        <activity
            android:name=".FullScreenActivity"
            android:exported="true" />
        <activity
            android:name=".NotificationActivity"
            android:exported="true" />
        <activity
            android:name=".StudentProfileActivity"
            android:exported="true" />
        <activity
            android:name=".MeetTeacherActivity"
            android:exported="true" />
        <activity
            android:name=".MeetLoadingActivity"
            android:exported="true" />
        <activity
            android:name=".StudentSignUpFragment"
            android:exported="true" />
        <activity
            android:name=".TeacherSignUpFragment"
            android:exported="true" />
        <activity
            android:name=".SecondPageActivity"
            android:exported="true" />
        <activity
            android:name=".HireActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".First_Page"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>